.this-month {
    display: block;
    text-align: center;
}

.next-month {
    font-size: 20px;
    color: #fff;
    background-color: rgb(255, 107, 91);
    padding: 2px 10px;
    border-radius: 5px;
    margin-bottom: 0;
}

table {
    background-color: #fff;
    color: #000;
    font-size: 20px;
}

thead {
    text-align: center;
}

tr th {
    border: 1px solid #ddd;
}

.box {
    height: 83px;
}

th {
    padding: 2px;
    width: 14.25%;
    vertical-align: top;
}

.c {
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
}

.yoga {
    background-color: rgba(55, 167, 55, 0.7);
}

.isuyoga {
    background-color: rgba(10, 161, 149, 0.7);
}

.ochakai {
    background-color: rgba(153, 205, 50, 0.7);
}

.kura {
    background-color: rgba(134, 241, 248, 0.7);
}

.kids {
    background-color: rgba(214, 248, 134, 0.7);
}

.sango {
    background-color: rgba(188, 166, 250, 0.7);
}

.asa {
    background-color: rgba(250, 166, 246, 0.7);
}

.relax {
    background-color: rgba(250, 221, 166, 0.7);
}

.power {
    background-color: rgba(250, 166, 166, 0.7);
}

.others {
    background-color: rgba(145, 210, 248, 0.7);
}

.yoga, .isuyoga, .ochakai, .kura, .kids, .sango, .asa, .relax, .power, .others {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-align: center;
    padding: 2px 6px;
    margin-bottom: 0;
    text-decoration: none;
    transition: 0.5s;
    font-weight: normal;
    border-bottom: solid 1px #fff;
}

.when_small {
    display: none;
}

.note-2 {
    text-align: center;
    padding: 0 15px 0 15px;
    font-size: 14px;
}

.note-3 {
    padding: 0 22px 0 22px;
}

.note-4 {
    padding: 0 8px 0 8px;
}

@media (max-width: 992px) {
    .yoga, .isuyoga, .ochakai, .kura, .kids, .sango, .asa, .relax, .power, .others {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .yoga, .isuyoga, .ochakai, .kura, .kids, .sango, .asa, .relax, .power, .others {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .c {
        font-size: 16px;
    }
    thead {
        font-size: 16px;
    }
    .box {
        height: 65px;
    }
    .this-month {
        font-size: 20px;
        margin-bottom: 7px;
    }
    .next-month {
        font-size: 16px;
    }
    .note {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .when_big {
        display: none;
    }
    .when_small {
        display: block;
    }
}

@media (max-width: 350px) {
    .note {
        font-size: 14px;
    }
    .next-month {
        font-size: 14px;
    }
    .yoga, .isuyoga, .ochakai, .kura, .kids, .sango, .asa, .relax, .power, .others {
        font-size: 12px;
    }
}