.this-month {
    display: block;
    text-align: center;
}

.next-month {
    font-size: 20px;
    color: #fff;
    background-color: rgb(255, 107, 91);
    padding: 2px 10px;
    border-radius: 5px;
    margin-bottom: 0;
}

table {
    background-color: #fff;
    color: #000;
    font-size: 20px;
}

thead {
    text-align: center;
}

tr th {
    border: 1px solid #ddd;
}

.box {
    height: 83px;
}

th {
    padding: 2px;
    width: 14.25%;
    vertical-align: top;
}

.c {
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
}

.yoga1 {
    background-color: rgba(55, 167, 55, 0.7);
}

.yoga2 {
    background-color: rgba(10, 161, 149, 0.7);
}

.yoga3 {
    background-color: rgba(153, 205, 50, 0.7);
}

.yoga4 {
    background-color: rgba(134, 241, 248, 0.7);
}

.yoga5 {
    background-color: rgba(214, 248, 134, 0.7);
}

.yoga6 {
    background-color: rgba(188, 166, 250, 0.7);
}

.yoga7 {
    background-color: rgba(250, 166, 246, 0.7);
}

.yoga8 {
    background-color: rgba(250, 221, 166, 0.7);
}

.yoga9 {
    background-color: rgba(250, 166, 166, 0.7);
}

.yoga10 {
    background-color: rgba(145, 210, 248, 0.7);
}

.yoga11 {
    background-color: rgba(2, 167, 2, 0.7);
}

.yoga12 {
    background-color: rgba(60, 156, 148, 0.7);
}

.yoga13 {
    background-color: rgba(142, 207, 10, 0.7);
}

.yoga14 {
    background-color: rgba(46, 236, 250, 0.7);
}

.yoga15 {
    background-color: rgba(188, 253, 34, 0.7);
}

.yoga16 {
    background-color: rgba(114, 64, 252, 0.7);
}

.yoga17 {
    background-color: rgba(247, 89, 239, 0.7);
}

.yoga18 {
    background-color: rgba(250, 189, 76, 0.7);
}

.yoga19 {
    background-color: rgba(250, 166, 166, 0.7);
}

.yoga20 {
    background-color: rgba(80, 190, 253, 0.7);
}

.yoga_set {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-align: center;
    padding: 2px 6px;
    margin-bottom: 0;
    text-decoration: none;
    transition: 0.5s;
    font-weight: normal;
    border-bottom: solid 1px #fff;
    padding: 0;
    font-size: 16px;
}

.when_small {
    display: none;
}

.note-2 {
    text-align: center;
    font-size: 14px;
    padding: 0 15px 0 15px;
}

.note-1 {
    text-align: center;
    font-size: 14px;
    padding: 0 21px 0 21px;
}

.note-3 {
    text-align: center;
    font-size: 14px;
    padding: 0 8px 0 8px;
}

/* @media (max-width: 992px) {
    .yoga_set {
        padding: 0;
    }
} */

@media (max-width: 768px) {
    .yoga_set {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .c {
        font-size: 16px;
    }
    thead {
        font-size: 16px;
    }
    .box {
        height: 65px;
    }
    .this-month {
        font-size: 20px;
        margin-bottom: 7px;
    }
    .next-month {
        font-size: 16px;
    }
    .note {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .when_big {
        display: none;
    }
    .when_small {
        display: block;
    }
}

@media (max-width: 350px) {
    .note {
        font-size: 15px;
    }
    .next-month {
        font-size: 15px;
    }
    .yoga_set {
        font-size: 12px;
    }
}