.container {
    margin-top: 10px;
}

.nav-item {
    width: calc(100% / 3);
    background-color: #fff;
    border-radius: 0.25rem;
}

.nav-link {
    padding: 4px;
    border-left: 1px solid #ddd;
    color: #000;
    text-align: center;
    border-radius: 0 !important;
}

.move {
    color: #000;
    display: block;
    margin-left: 10px;
    margin-bottom: 30px;
    text-decoration: underline;
}

h3 {
    margin-left: 10px;
}

.plan_name {
    margin-bottom: 30px;
}

.badge {
    font-size: 14px;
    margin-left: 2px;
    vertical-align: top;
    margin-top: 8px;
}

img {
    height: 250px;
    border-radius: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    padding-right: 20px;
}

.bottom a {
    margin-left: 10px;
}

.alert {
    border: 1px solid #eee;
    background-color: #fff;
}

.br-get {
    display: none;
}

@media (max-width: 992px) {
    img {
        height: 200px;
    }
    .plan_name {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    img {
        height: 140px;
    }
    .plan_name {
        margin-bottom: 20px;
        margin-left: 0;
    }
    .hidden {
        display: none;
    }
}

@media (max-width: 576px) {
    img {
        height: 130px;
    }
    h3 {
        margin: 0;
        font-size: 22px;
        padding: 2px 5px;
    }
    .nav-link {
        font-size: 12px;
        padding: 1px;
    }
    .br-get {
        display: block;
    }
}

@media (max-width: 480px) {
    img {
        height: 105px;
    }
    .plan_name {
        margin-bottom: 10px;
    }
    p, span {
        font-size: 14px;
    }
    .container {
        margin-top: 10px;
    }
    .move {
        margin-left: 3px;
        margin-bottom: 15px;
        font-size: 12px;
    }
    .badge {
        font-size: 10px;
        margin-top: 2px;
    }
    .bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 15px;
    }
    .bottom a {
        margin-left: 5px;
    }
    h3 {
        margin: 0;
        font-size: 16px;
        padding: 2px 5px;
    }
    .alert {
        padding: 8px;
        margin-bottom: 10px;
    }
    .btn {
        font-size: 12px;
        padding: 3px 6px;
    }
}

@media (max-width: 350px) {
    img {
        height: 85px;
    }
    p, span {
        font-size: 12px;
    }
}