.container {
    margin-top: 10px;
}

.move {
    color: #000;
    display: block;
    margin-left: 10px;
    margin-bottom: 30px;
}

h3 {
    margin-left: 10px;
}

.badge {
    font-size: 14px;
    margin-left: 2px;
    vertical-align: top;
    margin-top: 8px;
}

img {
    height: 250px;
    border-radius: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    padding-right: 20px;
}

.bottom a {
    margin-left: 10px;
}

.alert {
    border: 1px solid #eee;
    background-color: #fff;
}

@media (max-width: 769px) {
    p, span {
        font-size: 12px;
    }
    .container {
        margin-top: 10px;
    }
    .move {
        margin-left: 3px;
        margin-bottom: 15px;
        font-size: 12px;
    }
    .badge {
        font-size: 10px;
        margin-top: 2px;
    }
    img {
        height: 105px;
    }
    .bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 15px;
    }
    .bottom a {
        margin-left: 5px;
    }
    h3 {
        margin: 0;
        font-size: 16px;
        padding: 2px 5px;
    }
    .hidden {
        display: none;
    }
    .alert {
        padding: 8px;
        margin-bottom: 10px;
    }
    .btn {
        font-size: 12px;
        padding: 3px 6px;
    }
}

@media (max-width: 350px) {
    img {
        height: 85px;
    }
    .hidden2 {
        display: none;
    }
}