h3 {
    margin-left: 10px;
}

.date span {
    font-size: 20px;
}

.date {
    font-size: 25px;
}

.plan_name {
    margin-bottom: 30px;
}

.badge {
    font-size: 16px;
    margin-left: 2px;
    vertical-align: top;
    margin-top: 8px;
}

img {
    /* height: 250px; */
    width: 100%;
    border-radius: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
    padding-right: 20px;
}

.bottom a {
    margin-left: 10px;
}

.br-get {
    display: none;
}

@media (max-width: 992px) {
    .plan_name {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .plan_name {
        margin-bottom: 20px;
        margin-left: 0;
    }
    .hidden {
        display: none;
    }
    .date span {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .col-5 {
        padding-right: 0px;
    }
    h3 {
        margin: 0;
        font-size: 22px;
        padding: 2px 5px;
    }
    .br-get {
        display: block;
    }
    .date span {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .plan_name {
        margin-bottom: 10px;
    }
    h3 span {
        font-size: 16px;
    }
    .time {
        font-size: 18px;
    }
    .badge {
        font-size: 14px;
        margin-top: 2px;
    }
    .bottom {
        padding-right: 15px;
    }
    .bottom a {
        margin-left: 5px;
    }
    h3 {
        margin: 0;
        font-size: 20px;
        padding: 2px 5px;
    }
}

@media (max-width: 350px) {
    .date span {
        font-size: 12px;
    }
}