.order_top .nav-item {
    width: calc(100% / 3);
    background-color: #fff;
    border-radius: 0.25rem;
}

.order_top .nav-link {
    padding: 4px;
    border-left: 1px solid #ddd;
    color: #000;
    text-align: center;
}

.date {
    margin-left: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    padding-right: 20px;
    margin-left: 2px;
    margin-bottom: 10px;
}

@media (max-width: 576px) {
    .order_top .nav-link {
        font-size: 16px;
        padding: 3px 0;
    }
    h3 {
        font-size: 22px;
        padding: 2px 5px;
    }
    .plan_name {
        margin-bottom: 10px;
        padding-left: 0;
    }
}

@media (max-width: 480px) {
    .bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 15px;
    }
    .time {
        font-size: 18px;
    }
    .bottom a {
        margin-left: 5px;
    }
    h3 {
        font-size: 20px;
        padding: 0;
    }
    .hidden {
        display: none;
    }
}

@media (max-width: 350px) {
    .hidden2 {
        display: none;
    }
}