.btn-cancel {
    margin: 2px 0;
    padding: 2px 4px;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .setting select, .setting input, .input-group-text {
        padding: 6px;
    }
}

@media (max-width: 576px) {
    .setting select, .setting input, .input-group-text {
        font-size: 14px;
        padding: 6px;
    }
}

@media (max-width: 480px) {
    h3 {
        padding-left: 0;
    }
}

@media (max-width: 450px) {
    .hidden_times {
        display: none;
    }
}

@media (max-width: 350px) {
    p, span {
        font-size: 12px;
    }
    .setting select, .setting input, .input-group-text {
        font-size: 12px;
        padding: 3px;
    }
}