.order_top .nav-item {
    width: calc(100% / 3);
    background-color: #fff;
    border-radius: 0.25rem;
}

.order_top .nav-link {
    padding: 4px;
    border-left: 1px solid #ddd;
    color: #000;
    text-align: center;
}

input {
    font-size: 22px;
}

.monayoga {
    text-align: center;
}

.move-link {
    color: #534e4e;
    display: block;
    text-align: right;
    margin-top: 10px;
}

.mb-4 {
    display: block;
    margin: 0 auto;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.signup-button {
    display: block;
    text-align: center;
}

.consent p {
    font-size: 14px;
}

.consent li {
    font-size: 14px;
}

.consent h5 {
    font-size: 18px;
    color: #777;
}

@media (max-width: 576px) {
    .order_top .nav-link {
        font-size: 16px;
        padding: 3px 0;
    }
    h3 {
        font-size: 20px;
    }
}