html, body {
    height: 100%;
}

.consent {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 170px;
    border-radius: 5px;
    overflow: scroll;
}

input {
    font-size: 22px;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(255, 245, 255);
    color: #000;
}

.monayoga {
    text-align: center;
}

.move-link {
    color: #534e4e;
    display: block;
    text-align: right;
    margin-top: 10px;
}

.mb-4 {
    display: block;
    margin: 0 auto;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.signup-button {
    display: block;
    text-align: center;
}

.consent p {
    font-size: 14px;
}

.consent li {
    font-size: 14px;
}

.consent h5 {
    font-size: 18px;
    color: #777;
}