{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container">
    <h1 class="monayoga">404　ページが見つかりません．</h1>
    <br><br><br>
    <a class="btn btn-md btn-primary disable" href="{% url 'login' %}" id="signup-button" style="width: 70%; text-align: center;">ログイン画面へ</a>
</div>
<p class="mt-5 mb-3 text-muted">&copy; 2020/07 MonaYoga</p>
{% endblock content %}

{% block footer %}
{% endblock footer %}