{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container">
        <h1 class="monayoga">404 Not Found</h1>
        <br>
        <h1 class="monayoga" style="font-size:25px;">ページが見つかりません</h1>
    <br><br><br>
    <a class="btn btn-md btn-primary disable" href="{% url 'login' %}" id="" style="display:block; width:fit-content; text-align: center; margin-left: auto; margin-right:auto;">ログイン画面へ</a>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}