{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'nav-link.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'access.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block content %}

<div class="container">

    <div class="order_top" id="order" style="margin-top: 10px; margin-bottom: 20px;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a id="callendar" class="nav-link" href="{% url 'book' '0' %}">予約画面</a>
            </li>
            <li class="nav-item">
                <a id="booked_list" class="nav-link" href="{% url 'booked_list' %}">予約確認</a>
            </li>
            <li class="nav-item">
                <a id="access" class="nav-link" href="{% url 'access' %}"
                    style="background-color: rgb(248, 160, 150);">アクセス</a>
            </li>
            <li class="nav-item">
                <a id="info" class="nav-link" href="{% url 'info' %}">情報</a>
            </li>
        </ul>
    </div>

    <div class="alert alert-warning setting" role="alert">
        <h3>スタジオ</h3>
        <hr style="border-color: green;">
        <p>
            <span class="badge badge-success">住所</span><br class="br-get">
            東京都〇〇区0-00-0　<br class="br-get">〇〇宅(2階)<br>
            <span class="badge badge-success">最寄り駅</span><br class="br-get">
            東京駅(東口)<br>
            <span class="badge badge-success">バス乗車</span><br class="br-get">
            東京駅東口（〇〇前）<br class="br-get">【〇02】〇行き・〇行き<br>
            <span class="badge badge-success">バス下車</span><br class="br-get">
            〇〇
        </p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.827853398555!2d139.76493611555088!3d35.68124053757847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1611561906319!5m2!1sja!2sjp"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
    <div class="alert alert-warning setting" role="alert">
        <h3>スタジオ2</h3>
        <hr style="border-color: green;">
        <p>
            <span class="badge badge-success">住所</span><br class="br-get">
            東京都〇〇区0-00-0　<br class="br-get">〇〇宅(2階)<br>
            <span class="badge badge-success">最寄り駅</span><br class="br-get">
            東京駅(東口)<br>
            <span class="badge badge-success">バス乗車</span><br class="br-get">
            東京駅東口（〇〇前）<br class="br-get">【〇02】〇行き・〇行き<br>
            <span class="badge badge-success">バス下車</span><br class="br-get">
            〇〇
        </p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.827853398555!2d139.76493611555088!3d35.68124053757847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1611561906319!5m2!1sja!2sjp"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
    <div class="alert alert-warning setting" role="alert">
        <h3>スタジオ3</h3>
        <hr style="border-color: green;">
        <p>
            <span class="badge badge-success">住所</span><br class="br-get">
            東京都〇〇区0-00-0　<br class="br-get">〇〇宅(2階)<br>
            <span class="badge badge-success">最寄り駅</span><br class="br-get">
            東京駅(東口)<br>
            <span class="badge badge-success">バス乗車</span><br class="br-get">
            東京駅東口（〇〇前）<br class="br-get">【〇02】〇行き・〇行き<br>
            <span class="badge badge-success">バス下車</span><br class="br-get">
            〇〇
        </p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.827853398555!2d139.76493611555088!3d35.68124053757847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1611561906319!5m2!1sja!2sjp"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    </div>
</div>

{% endblock content %}

{% block footer %}
<footer style="background-color: rgb(194, 243, 194);">
    <div class="footer">
        <span class="copy">© 2020 jay-kaji　　</span>
        <a href="{% url 'logout' %}">ログアウト</a>
    </div>
    <br><br><br>
</footer>
{% endblock footer %}