{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'book.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block content %}

<div class="container">
    {% include 'nav-link.html' %}

    <div class="row">
        <div class="col-4" style="text-align: left;">
            {% if month != '0' %}
            <a class="next-month" href="0">◀{{ pre_month }}月</a>
            {% endif %}
        </div>
        <div class="col-4">
            <h3 class="this-month">{{ month2 }}月</h3>
        </div>
        <div class="col-4" style="text-align: right;">
            {% if month != '100' %}
            <a class="next-month" href="100">{{ next_month }}月▶</a>
            {% endif %}
        </div>
    </div>
    <table width="100%">
        <thead style="background-color: rgb(194, 243, 194);">
            <!-- <th>月</th> -->
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
            <!-- <th>日</th> -->
        </thead>
        {% for calendar_list in calendar_list_all %}
        <tr class="box">
            {% for c, object, plans in calendar_list %}
            <th>
                <p class="c">{{ c }}</p>
                {% if object != '' %}
                <a href="{% url 'confirm' object.date %}">
                    {% for plan in plans %}
                    {% if plan == 'ヨガ' %}
                    <p class=" yoga">{{ plan }}</p>
                    {% elif plan == '椅子ヨガ' %}
                    <p class="isuyoga">{{ plan }}</p>
                    {% elif plan == 'お茶会' %}
                    <p class="ochakai">{{ plan }}</p>
                    {% else %}
                    <p class="others">{{ plan }}</p>
                    {% endif %}
                    {% endfor %}
                </a>
                {% endif %}
            </th>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <p class="note" style="padding-top: 10px;">
        予約したい日のプランをタッチして下さい．<br>
        *定休日：月曜日，日曜日
    </p>
</div>

{% endblock content %}

{% block footer %}
<footer style="background-color: rgb(194, 243, 194);">
    <div class="footer">
        <span class="copy">© 2020 MonaYoga　　</span>
        <a href="{% url 'logout' %}">ログアウト</a>
    </div>
    <br><br><br>
</footer>
{% endblock footer %}