{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'nav-link.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'book.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block content %}

<div class="container">
    <div class="order_top" id="order" style="margin-top: 10px; margin-bottom: 20px;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a id="callendar" class="nav-link" href="{% url 'book' '0' %}" style="background-color: rgb(248, 160, 150);">予約画面</a>
            </li>
            <li class="nav-item">
                <a id="booked_list" class="nav-link" href="{% url 'booked_list' %}">予約確認</a>
            </li>
            <li class="nav-item">
                <a id="access" class="nav-link" href="{% url 'access' %}">アクセス</a>
            </li>
            <li class="nav-item">
                <a id="info" class="nav-link" href="{% url 'info' %}">情報</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-4" style="text-align: left;">
            {% if month != '0' %}
            <a class="next-month" href="0">◀{{ pre_month }}月</a>
            {% endif %}
        </div>
        <div class="col-4">
            <h3 class="this-month">{{ month2 }}月</h3>
        </div>
        <div class="col-4" style="text-align: right;">
            {% if month != '100' %}
            <a class="next-month" href="100">{{ next_month }}月▶</a>
            {% endif %}
        </div>
    </div>
    <table width="100%">
        <thead style="background-color: rgb(194, 243, 194);">
            {% if monday == 1 %}
            <th>月</th>
            {% endif %}
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
            <!-- <th>日</th> -->
        </thead>
        {% for calendar_list in calendar_list_all %}
        <tr class="box">
            {% for c, object, plans in calendar_list %}
            <th>
                <p class="c">{{ c }}</p>
                {% if object != '' %}
                <a href="{% url 'confirm' month object.date %}">
                    {% for plan in plans %}
                    <div class="when_big">
                        <p class="yoga_set yoga{{ plan.plan_num }}">{{ plan.plan}}</p>
                    </div>
                    <div class="when_small">
                        <p class="yoga_set yoga{{ plan.plan_num }}">{{ plan.short_plan_name}}</p>
                    </div>
                    {% endfor %}
                </a>
                {% endif %}
            </th>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <p class="note" style="padding-top: 10px;">
        予約したい日のプランをタッチして下さい．<br>
        *定休日：
        {% if monday != 1 %}
        月曜日，
        {% endif %}
        日曜日
    </p>

    <p class="when_small">
        {% for plan in setting_plan_model_exist %}
        <span
            class='note-{{ plan.short_plan_name|length }} yoga{{ plan.plan_num }}'>{{ plan.short_plan_name }}</span>：{{ plan.name }}<br>
        {% endfor %}
    </p>
</div>

{% endblock content %}

{% block footer %}
<footer style="background-color: rgb(194, 243, 194);">
    <div class="footer">
        <span class="copy">© 2020 MonaYoga　　</span>
        <a href="{% url 'logout' %}">ログアウト</a>
    </div>
    <br><br><br>
</footer>
{% endblock footer %}