{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'booked_list.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block content %}
<div class="container">
    <div class="order_top" id="order" style="margin-top: 10px; margin-bottom: 10px;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a id="title" class="nav-link" href="{% url 'book' '0' %}">カレンダー予約<span id='titleuesita'></span></a>
            </li>
            <li class="nav-item">
                <a id="date" class="nav-link" href="{% url 'booked_list' %}"
                    style="background-color: rgb(248, 160, 150);">予約確認<span id='dateuesita'></span></a>
            </li>
            <li class="nav-item">
                <a id="title_main" class="nav-link" href="{% url 'access' %}">アクセス<span
                        id='title_mainuesita'></span></a>
            </li>
        </ul>
    </div>
    <br>
    {% if check == 0 %}
    <div class="alert alert-warning" role="alert">
        <p>現在ご予約しているプランはございません．</p>
    </div>
    {% endif %}
    {% for item, plan in object_list %}
    <div class="alert alert-warning" role="alert">
        <div class="row">
            <div class="col-4">
                <h5 class="date">{{ item.date|date:"Y-m-d" }}</h5>
                <h3 class="plan_name">{{ item.plan }}</h3>
            </div>
            <div class="col-8">
                <p>
                    時間：{{ item.time }}<br>
                    料金：{{ plan.price }}円<br>
                    場所：{{ plan.location }}
                </p>
                <a href="#" class="bottom btn btn-primary btn-md" role="button" aria-pressed="true"
                    onclick="var ok=confirm('この予約をキャンセルしますか？');
                    if (ok) location.href='confirm/{{ item.date }}/cancel_yoga/{{ item.pk }}/1'; return false;">キャンセル</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}