{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'confirm.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block content %}
<div class="container">
    <a class="move" href="{% url 'book' 0 %}">カレンダー画面へ</a>
    
    <h3>{{ date }}</h3>
    {% for time, item, plan, error_booked in object_plan_error_list %}
    {% if item.plan != '0' %}
    <div class="alert alert-warning" role="alert">
        <h3>
            {{ item.plan }}
            {% if error_booked != 0 %}
            <span class="badge badge-danger">予約済</span>
            {% endif %}
        </h3>
        <div class="row">
            <div class="col-5">
                <img src="{{ plan.image.url }}">
            </div>
            <div class="col-7">
                <p class="hidden">{{ plan.memo }}</p>
                <p>
                    料金：{{ plan.price }}円<br>
                    時間：{{ item.time }}時<br>
                    場所：{{ item.location }}
                </p>
                <div class="bottom">
                    <span style="color: red;">{{ error }}</span>
                    <span><span class="hidden2">予約</span>人数 {{ item.number_of_people }} / {{ plan.max_book }}</span>
                    {% if error_booked == 0 %}
                    <a href="get_yoga/{{ item.pk }}" class="btn btn-danger btn-md" role="button" aria-pressed="true">予約</a>
                    {% else %}
                    <a href="#" class="btn btn-primary btn-md" role="button"
                        aria-pressed="true" onclick="var ok=confirm('この予約をキャンセルしますか？');
                        if (ok) location.href='cancel_yoga/{{ item.pk }}/0'; return false;">キャンセル</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock content %}