{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'detail_admin.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header_admin.html' %}
{% endblock header %}

{% block content %}

<div class="container">
    <a id="title" class="move" href="{% url 'book_admin' '0' %}">カレンダー予約画面へ</a>
    <h3 class="date">{{ date }}</h3>
    <span style="color: red;">{{ error }}</span>
    {% for time, item, plan, name in object_plan_name_list %}
    {% if item.plan != '0' %}
    <div class="alert alert-warning" role="alert">
        <h3 class="plan_name">
            {{ item.plan }}<span class="time" style="color: red; float: right;">{{ item.time }}</span>
        </h3>
        <hr style="border-color: green;">
        <p>
            料金：{{ plan.price }}円<br>
            場所：{{ item.location }}<br>
            予約人数：{{ item.number_of_people }} / {{ item.max_book }}<br>
            予約者：{{ name }}
        </p>
        <div class="bottom">
            {% if name == '' %}
            <a href="{% url 'plan_delete' item.date item.pk %}" class="btn btn-secondary btn-sm">削除</a>
            {% endif %}
            <a href="{% url 'plan_update' item.date item.pk %}" class="btn btn-secondary btn-sm">編集</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<script>
</script>

{% endblock content %}