{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'nav-link.css' %}">

<div class="order_top" id="order" style="margin-top: 10px; margin-bottom: 20px;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a id="callendar" class="nav-link" href="{% url 'book' '0' %}">カレンダー<span id='titleuesita'></span></a>
        </li>
        <li class="nav-item">
            <a id="booked_list" class="nav-link" href="{% url 'booked_list' %}">予約確認<span id='dateuesita'></span></a>
        </li>
        <li class="nav-item">
            <a id="access" class="nav-link" href="{% url 'access' %}">アクセス<span id='title_mainuesita'></span></a>
        </li>
        <li class="nav-item">
            <a id="info" class="nav-link" href="{% url 'info' %}">情報<span id='title_mainuesita'></span></a>
        </li>
    </ul>
    <input hidden id="location" value="{{ location }}">
</div>

<script>
    window.onload = function () {
        const location = document.getElementById('location').value;
        if (location === 'booked_list') {
            document.getElementById('booked_list').style.background = 'rgb(248, 160, 150)';
        } else if (location === 'access') {
            document.getElementById('access').style.background = 'rgb(248, 160, 150)';
        } else if (location === 'callendar') {
            document.getElementById('callendar').style.background = 'rgb(248, 160, 150)';
        } else if (location === 'info') {
            document.getElementById('info').style.background = 'rgb(248, 160, 150)';
        }
    }
</script>