{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'detail_admin.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header_admin.html' %}
{% endblock header %}

{% block content %}
<div class="container">

    <div class="order_top" id="order" style="margin-top: 10px; margin-bottom: 10px;">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a id="callendar" class="nav-link" href="{% url 'setting_plan' %}">プラン一覧<span id='titleuesita'></span></a>
            </li>
            <li class="nav-item" style="background-color: rgb(248, 160, 150);">
                <a id="booked_list" class="nav-link" href="{% url 'note' %}">お知らせ<span id='dateuesita'></span></a>
            </li>
            <li class="nav-item">
                <a id="access" class="nav-link" href="{% url 'signup_admin' %}">サインアップ<span id='title_mainuesita'></span></a>
            </li>
        </ul>
        <input hidden id="location" value="{{ location }}">
    </div>

    <br>
    <div class="alert alert-warning" role="alert">
        <h3>「お知らせ」の内容</h3>
        <hr style="border-color: green;">
        <p>{{ item.memo }}</p>
    </div>
    <div class="alert alert-warning" role="alert">
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <h3>編集</h3>
            <textarea name="memo" type="text" id="note" class="note" placeholder="150字以内" maxlength="150"
                style="width: 100%; height: 150px;">{{ item.memo }}</textarea>
            <br><br>
            <input class="btn btn-secondary btn-sm" type="submit" value="削 除" style="margin-bottom: 10px;"
                onclick=" get_clear()">
            <input class="btn btn-primary btn-sm" type="submit" value="更 新" style="margin-bottom: 10px;">
        </form>
    </div>
</div>

<script>
    function get_clear() {
        document.getElementById('note').innerText = '';
    }
</script>

{% endblock content %}