{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'detail_admin.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header_admin.html' %}
{% endblock header %}

{% block content %}
<div class="container">

    <h3 class="date">{{ date }}</h3>
    <div class="alert alert-warning" role="alert">
        <h3 class="plan_name">
            {{ object.plan }}<span class="time" style="color: red; float: right;">{{ object.time }}</span>
        </h3>
        <hr style="border-color: green;">
        <p>
            料金：{{ plan.price }}円<br>
            場所：{{ object.location }}<br>
            予約人数：{{ object.number_of_people }} / {{ object.max_book }}<br>
            予約者：
        </p>
        <br>
        <form action="" method="POST">{% csrf_token %}
            <div class="bottom">
                <a class="btn btn-secondary btn-sm" href="{% url 'detail' month_num date %}">キャンセル</a>
                <input type="submit" value="削除完了" class="btn btn-danger btn-sm">
            </div>
        </form>
    </div>
</div>

{% endblock content %}