{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'detail_admin.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header_admin.html' %}
{% endblock header %}

{% block content %}
<div class="container">

    <h3 class="date">{{ date }}</h3>
    <div class="alert alert-warning" role="alert">
        <h3>
            {{ object.plan }}
        </h3>
        <p>
            料金：{{ plan.price }}円　時間：{{ object.time }}時　場所：{{ plan.location }}<br>
            予約最大人数：{{ plan.max_book }}
        </p>
        <form action="" method="POST">{% csrf_token %}
            <div class="bottom">
                <span style="color: red;">本当に削除してもよろしいでしょうか？</span>
                <a class="btn btn-secondary btn-sm" href="{% url 'detail' date %}">キャンセル</a>
                <input type="submit" value="削除完了" class="btn btn-secondary btn-sm">
            </div>
        </form>
    </div>
</div>

{% endblock content %}