{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'detail_admin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plan_update.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header_admin.html' %}
{% endblock header %}

{% block content %}
<div class="container">
    <a class="move" href="{% url 'detail' month_num item.date %}">詳細画面へ</a>

    <h3 class="date">編集画面｜20{{ item.date|date:"y-m-d" }}｜{{ item.plan }}</h3>

    <div class="alert alert-warning setting" role="alert" style="margin-top: 15px;">

        <div id="select_get">
            <p style="text-align: left;">編集したい項目を選択してください．</p>
            <p><input class="btn btn-primary btn-sm" type="button" value="予約者の取消" onclick="select_get_cancelling()"></p>
            <p><input class="btn btn-primary btn-sm" type="button" value="予約者の追加" onclick="select_get_book()"></p>
            <p><input class="btn btn-primary btn-sm" type="button" value="時間の変更" onclick="select_get_time()">
            </p>
            <p><input class="btn btn-primary btn-sm" type="button" value="場所の変更" onclick="select_get_place()"></p>
            <p><input class="btn btn-primary btn-sm" type="button" value="最大予約人数の変更" onclick="select_get_num()"></p>
        </div>

        <form action="" method="POST">{% csrf_token %}

            <div id="get_cancelling" class="get">
                {% if item.number_of_people != 0 %}
                <p>
                    予約を取り消す人を選択してください．
                </p>
                {% for i, booked_people_name in booked_people_name_list %}
                <input class="btn btn-success btn-sm btn-cancel" id="name{{ i }}" type="button"
                    value="{{ booked_people_name }}" onclick="get_num(this)">
                {% endfor %}
                {% endif %}
                <input hidden id="hidden_num" value="{{ people_num }}">
                <input hidden id="cancel_name" name="cancel_name">
            </div>

            <div id="get_book" class="get">
                {% if item.number_of_people != item.max_book %}
                <span style="color: red;" id="error">{{ error }}</span>
                <p>追加する予約者の氏名は間違えなく記入してください．</p>
                <div class="input-group mb-3 get_book">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">追加の予約者</span>
                    </div>
                    <input type="text" class="form-control time1" placeholder="姓" id="timechange" name="last_name">
                    <input type="text" class="form-control time1" placeholder="名" id="timechange" name="first_name">
                </div>
                {% else %}
                <input type="hidden" class="form-control time1" value="" name="add_booked_people">
                <input type="hidden" class="form-control time1" value="" id="timechange" name="last_name">
                <input type="hidden" class="form-control time1" value="" id="timechange" name="first_name">
                {% endif %}
            </div>

            <div id="get_time" class="get">
                <div class="input-group mb-3 times">
                    <p>時間を変更する際は予約者がいないことを注意してください．また，他のプランと時間が重複しないように気を付けてください．</p>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">時間</span>
                    </div>
                    <select class="custom-select" id="inputGroupSelect03" name="time1">
                        <option value="{{ first_time }}" selected>{{ first_time }}</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                    <div class="input-group-prepend hidden_times">
                        <span class="input-group-text" id="basic-addon1" style="background-color: #fff;">時</span>
                    </div>
                    <select class="custom-select" id="inputGroupSelect04" name="time1-5">
                        <option value="{{ first_half_time }}" selected>{{ first_half_time }}</option>
                        <option value="00">00</option>
                        <option value="30">30</option>
                    </select>
                    <div class="input-group-prepend hidden_times">
                        <span class="input-group-text" id="basic-addon1" style="background-color: #fff;">分</span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">～</span>
                    </div>
                    <select class="custom-select" id="inputGroupSelect05" name="time2">
                        <option value="{{ last_time }}" selected>{{ last_time }}</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                    <div class="input-group-prepend hidden_times">
                        <span class="input-group-text" id="basic-addon2" style="background-color: #fff;">時</span>
                    </div>
                    <select class="custom-select" id="inputGroupSelect06" name="time2-5">
                        <option value="{{ last_half_time }}" selected>{{ last_half_time }}</option>
                        <option value="00">00</option>
                        <option value="30">30</option>
                    </select>
                    <div class="input-group-prepend hidden_times">
                        <span class="input-group-text" id="basic-addon1" style="background-color: #fff;">分</span>
                    </div>
                </div>
            </div>

            <div id="get_place" class="get">
                <p>場所を変更する際は予約者がいないことを確認してください．</p>
                <div class="input-group mb-3 location">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">場所</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name="location">
                        <option value="{{ item.location }}" selected>{{ item.location }}</option>
                        {% for model in setting_plan_model %}
                        <option value="{{ model.location }}">{{ model.location }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div id="get_number" class="get">
                <p>最大予約人数を変更する際は，既に予約者がいないことを確認してください．</p>
                <div class="input-group mb-3 location">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">最大予約人数</span>
                    </div>
                    <input type="number" min="3" class="max_book form-control" id="max_book" name="max_book"
                        value="{{ item.max_book }}">
                </div>
            </div>

            <div id="btns" class="get">
                <br><br>
                <div class="bottom">
                    <input class="btn btn-secondary btn-sm" type="button" value="戻 る" onclick="get_back()">
                    <input class="btn btn-primary btn-sm" type="submit" value="更 新">
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    window.onload = function () {
        if (document.getElementById('error').innerHTML !== "") {
            select_get_book()
        }
    }

    function select_get_cancelling() {
        document.getElementById('get_cancelling').style.display = "block";
        document.getElementById('select_get').style.display = "none";
        document.getElementById('btns').style.display = "block";
    }
    function select_get_book() {
        document.getElementById('get_book').style.display = "block";
        document.getElementById('select_get').style.display = "none";
        document.getElementById('btns').style.display = "block";
    }
    function select_get_time() {
        document.getElementById('get_time').style.display = "block";
        document.getElementById('select_get').style.display = "none";
        document.getElementById('btns').style.display = "block";
    }
    function select_get_place() {
        document.getElementById('get_place').style.display = "block";
        document.getElementById('select_get').style.display = "none";
        document.getElementById('btns').style.display = "block";
    }
    function select_get_num() {
        document.getElementById('get_number').style.display = "block";
        document.getElementById('select_get').style.display = "none";
        document.getElementById('btns').style.display = "block";
    }
    function get_back() {
        document.getElementById('get_cancelling').style.display = "none";
        document.getElementById('get_book').style.display = "none";
        document.getElementById('get_time').style.display = "none";
        document.getElementById('get_place').style.display = "none";
        document.getElementById('get_number').style.display = "none";
        document.getElementById('select_get').style.display = "block";
        document.getElementById('btns').style.display = "none";
    }



    function get_num(ele) {
        var id_value = ele.id;
        if (document.getElementById('cancel_name').value === ele.value) {
            clear_name();
        } else {
            clear_name();
            document.getElementById('cancel_name').value = ele.value;
            document.getElementById(id_value).style.background = "rgb(2, 59, 2)";
            document.getElementById(id_value).style.color = "#fff";
        }
    }

    function clear_name() {
        var max_num = Number(document.getElementById('hidden_num').value);
        for (let i = 0; i < max_num; i++) {
            document.getElementById('cancel_name').value = '';
            document.getElementById('name%'.replace('%', i)).style.background = "#fff";
            document.getElementById('name%'.replace('%', i)).style.color = "#000";
        }
    }

</script>

{% endblock content %}