{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'detail_admin.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header_admin.html' %}
{% endblock header %}

{% block content %}
<div class="container">

    <h3 class="date">{{ date }}</h3>
    {% for item in object_list %}
    {% if item.plan != '0' %}
    <div class="alert alert-warning" role="alert">
        <h3>
            {{ item.name }}
        </h3>
        <p>
            料金：{{ item.price }}円<br>
            場所：{{ item.location }}<br>
            最大予約者数：{{ item.max_book }}人<br>
            メモ：{{ item.memo }}
        </p>
        <div class="bottom">
            <a href="{% url 'setting_plan_update' item.pk %}" class="btn btn-secondary btn-sm">編集</a>
            <a href="{% url 'yoga_plan_delete' item.pk %}" class="btn btn-secondary btn-sm">削除</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    
    <a href="{% url 'create' %}" class="btn btn-secondary btn-sm">プラン追加</a>
</div>

{% endblock content %}