{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'detail_admin.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header_admin.html' %}
{% endblock header %}

{% block content %}
<div class="container">
    <a class="move" href="{% url 'setting_plan' %}">プラン一覧へ</a>
    <h3>{{ object.name }}｜編集</h3>
    <div class="alert alert-warning" role="alert">
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <br><br>
            <div class="bottom">
                <input class="btn btn-primary btn-sm" type="submit" value="更 新">
            </div>
        </form>
    </div>
</div>

{% endblock content %}