{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'detail_admin.css' %}">
{% endblock customcss %}

{% block header %}
{% include 'header_admin.html' %}
{% endblock header %}

{% block content %}
<div class="container">
    <div class="alert alert-warning" role="alert">
        <h3>
            {{ object.name }}
        </h3>
        <p>
            料金：{{ object.price }}円<br>
            場所：{{ object.location }}<br>
            最大予約者数：{{ object.max_book }}人<br>
            メモ：{{ object.memo }}<br>
        </p>
        <form action="" method="POST">{% csrf_token %}
            <div class="bottom">
                <span style="color: red;">本当に削除してもよろしいでしょうか？</span>
                <a class="btn btn-secondary btn-sm" href="{% url 'setting_plan' %}">キャンセル</a>
                <input type="submit" value="削除完了" class="btn btn-secondary btn-sm">
            </div>
        </form>
    </div>
</div>

{% endblock content %}